<center><h2 style="color:rgba(2, 67, 244, 0.918);">Machine Learning - Guess Your Tourist Destination</h2></center>

<p float="left"><center><img src="https://cdn.hk01.com/di/media/images/dw/20221012/656874168272293888043718.jpeg/Y50F3l9oTV2i8X1VSWHVjzK05JJUS7IVzREZmM0RGZg?v=w1920" alt="Singapore" width="150" height="100"/>
    <img src="https://img.soundofhope.org/2022-10/1665200962361.jpg" alt="Europe" width="150" height="100"/>
    <img src="https://storage.googleapis.com/opinion-cms-cwg-tw/ckeditor/201912/ckeditor-5e007ff109b1e.jpg" alt="Africa" width="150" height="100"/>
    <center><h4 style="color:rgba(35, 63, 141, 0.918);">Singapore----------Europe----------Africa</h4></center>
    <center>
  <form method="POST">

    <br>
    <table border="2" style="background-color: rgb(180, 215, 255);">
      <tr>
          <td>Salary:</td>
          <td><input type="number" name="salary" min="1000" max="10000"></td>
      </tr>
      <tr>
          <td>Gender: (1 for male, 0 for female)</td>
          <td><input type="number" name="gender" min="0" max="1"></td>
      </tr>
      <tr>
          <td>Marital: (0 for Single, 1 for Married)</td>
          <td><input type="number" name="marital" min="0" max="1"></td>
      </tr>
      <tr>
        <td>Press the button to submit:</td>
        <td><input type="submit"></td>
      </tr>
      <tr>
        <tr><td align="center" style="background-color: rgb(171, 171, 171);" colspan="2">The result</td></tr>
      </tr>
      <tr><td colspan="2" align="center" style="background-color: rgb(239, 239, 239);"><label>{{ href2 }} </label></td></tr>
     

  </table>
  
  </form>
</center>
